
$yellow : #fc8019;
$temp : #c25802;
$yellowDark : #ec7906;
$dark : rgb(33, 33, 33);
$h1 : rgb(44, 44, 44);
$lightDark : rgba(33, 33, 33, 0.711);
$bgYellow : #ffc698;
$gradient: linear-gradient(to right, $yellowDark , orange);