@import "colors";

.loader {
    color: white;
    background-color: white;
    opacity: 0.5;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    >div {
        font-size: 4rem;
    }
}

.zoom-in-out-box {
    margin: 24px;
    animation: zoom-in-zoom-out 0.8s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}