@import "colors";

.table {
    background-color: $bgYellow;
    width: 100%;
    height: 100vh;

    >main {
        max-width: 1100px;
        background-color: white;
        margin: auto;
        height: 100%;
        padding: 2rem;
        overflow-x: auto;

        >table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;

            tr {
                background-color: whitesmoke;

                &:last-child {
                    td:first-child {
                        border-radius: 0 0 0 10px;
                    }

                    td:last-child {
                        border-radius: 0 0 10px 0;
                    }
                }
            }

            td,
            th {
                padding: 1rem;
            }

            th {
                background-color: $h1;
                color: white;

                &:first-child {
                    border-radius: 10px 0 0 0;
                }

                &:last-child {
                    border-radius: 0 10px 0 0;
                }
            }

            td {
                color: lightDark;

                >a {
                    color: $yellow;
                }

                >button {
                    border: none;
                    cursor: pointer;
                    margin: 0.25rem;
                    color: $yellow;
                }

                >img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
            }
        }
    }

}

.add-product-cont {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    >a {
        padding: 0.7rem 1rem;
        background-color: $yellow;
        color: white;
        transition: 0.3s all ease-in-out;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $bgYellow;
            transition: 0.3s all ease-in-out;

        }
    }
}